[submodule "html-operations"]
	path = html-operations
	url = git@github.com:bpostalci/html-operations.git
[submodule "html-beautifier"]
	path = html-beautifier
	url = git@github.com:bpostalci/html-beautifier.git
[submodule "html-syntax-checker"]
	path = html-syntax-checker
	url = git@github.com:bpostalci/html-syntax-checker.git
